<html>
<h2>{{ politician.name }}</h2>
<p>Telefone: {{ politician.tel }}</p>
<p>Fax: {{ politician.fax }}</p>
<p>E-mail: {{ politician.email }}</p>

<h3>Agora é com você!</h3>

Escolha uma das formas de contato.

<p>Informe como entrou em contato com o parlamentar e o que aconteceu:</p>
<form action="" method="post">
    {% csrf_token %}
    <br/>
    {{form.as_p}}
    <div>
        <a href="{url }">Não fiz o contato agora</a>
        <button type="submit">Confirmar contato realizado</button>
    </div>
</form>
</html>
