{% extends 'base.html' %}
{% load rows_columns %}

{% block content %}
<div class="starter-template">
    <h1>{{ campaign.name }}</h1>

    <p class="lead">{{ campaign.description }}</p>

    <h3>Escolha o estado do seu domícilio eleitoral</h3>

    <table class="table table-bordered table-striped">
        {% for row in uf_list|columns:4 %}
            <tr>
                {% for uf, estado in row %}
                    <td>
                        <a href="{% url 'politician_list' campaign.pk uf %}">
                            {{ estado }}
                        </a>
                    </td>
                {% endfor %}
             </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}