<html>
<p>Lista de políticos do seu estado.</p>
<table border='1'>
    <thead>
        <tr>
            <th>Nome Parlamentar</th>
            <th>Nome</th>
            <th>Partido</th>
            <th>Contatos recebidos</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
    {% for politician in politician_list %}
        <tr>
            <td><a href="{% url 'report_contact' campaign.id politician.id %}">{{ politician.parliamentary_name|truncatechars:30 }}</a></td>
            <td>{{ politician.name|truncatechars:30 }}</td>
            <td>{{ politician.political_party }}</td>
            <td>{{ politician.contacts }}</td>
            <td>{{ politician.uf }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</html>