body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}

.navbar-inverse{
  background-color: #000;
}

.messages {
  background-color: #afa;
}

.table-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px !important;

}
